@model ServerGame106.ViewModel.RegisterVM

<div class="container">
    <h1 class="text-danger">Welcome</h1>
    <h2 style="background: linear-gradient(to right, red, yellow)" class="text-danger">Bạn đã bị hack</h2>
</div>


@{
}
